<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<script type="text/javascript" src="../static/buyaticketscript.js"
	th:src="@{/buyaticketscript.js}"></script>
	<script type="text/javascript" src="../static/scrt.js"
	th:src="@{/scrt.js}"></script>
<body th:onload="'stringToView(\'' + ${auditoriumString} + '\');'">
	<header th:replace="layout :: site-header" /></header>

	<h2>Please select a seat</h2>

	<div style="margin-left: auto; margin-right: auto; width: 50%;">
		<div>
			<h3 style="text-align: center;">SCREEN</h3>
		</div>
		<!--  
		<div class="cinema" id="seat-map">

			<ol class="rows" id="rows">
				<th:block th:each="i: ${#numbers.sequence(1, rows)}">
					<ol class="seats" id="seats" type="A">
						<th:block th:each="j: ${#numbers.sequence(1, columns)}">

							<li class="seat">
							
							<input type="checkbox"
								style="width: 20px; height: 20px;" autocomplete="off"
								class="seatcheckbox" th:id="'R'+${i}	+'C'+${j}"
								onclick="seatCheckBox(this.id)" /> 
								
							<label
								th:text="'R'+${i}	+'C'+${j}" th:for="'R'+${i}	+'C'+${j}">
							</label>
							
							</li>

						</th:block>
					</ol>
				</th:block>
			</ol>



		</div>-->
		
		<div id="stringauditorium">
		</div>
		<div style="width: 50%; margin-left: auto; margin-right: auto;">
			<h3>
				Movie:
				<p style="text-decoration: line-through;">dynamic movie name</p>
			</h3>

			<h3>Chosen seats:</h3>
			<div id="chosenseats"></div>
			<h3>
				Tickets: <span id="counter">0</span>
			</h3>

			<h3>
				Total: <span id="total">0</span>
			</h3>

			<button class="checkout-button">BUY</button>


		</div>




		<footer th:replace="layout :: site-footer" /></footer>
		
		
		
		
</body>
</html>