<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<body>

	<header th:replace="layout :: site-header" /></header>

	<div class="container">

		<div style="background-color: lightblue;">
			<h3>
				<td th:text="${cinema.name}"></td>
			</h3>
			<p>
				<td th:text="${cinema.address}"></td>
			</p>
		</div>

		<tr th:each="movie : ${movies}">
			<div style="background-color: lightgrey;">

				<h4>
					<td th:text="${movie.title}"></td>
				</h4>
				<td th:text="${movie.plot}"></td>
				<td th:text="${movie.genres}"></td> <br>
				<td th:text="${movie.ageLimit}"></td> <br>
				<td th:text="${movie.language}"></td> <br>
				<td th:text="${movie.subtitles}"></td> <br>
				<td th:text="${movie.movieLength}"></td>
				<form action="/buyaticket" th:action="@{/buyaticket}">
					<input type="hidden" value="${movie.id}"> <input type="submit" value="Buy a Ticket">

				</form>
				<br>
			</div>
		</tr>
	</div>
	<br>

	<footer th:replace="layout :: site-footer" /></footer>

</body>
</html>