<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<body>

	<header th:replace="layout :: site-header" /></header>

	<div sec:authorize="hasAuthority('ADMIN')">
		LOGGED IN AS ADMIN.
		<button onclick="location.href='/admin/cinema-create'" type="button" class="btn btn-primary">Add Cinema</button>
	</div>
	<div sec:authorize="!hasAuthority('ADMIN')">NOT ADMIN</div>
	<div class="container">

		<tr th:each="cinema : ${cinemas}">
			<div style="background-color: lightgrey;">

				<a th:href="${'/cinemas/' + cinema.id}"><h2>
						<td th:text="${cinema.name}"></td>
					</h2></a>
				<label>Address: </label>
				<td th:text="${cinema.address}">></td> <br> <label>Lattitude: </label>
				<td th:text="${cinema.latitude}"></td> <br> <label>Longitude: </label>
				<td th:text="${cinema.longitude}"></td> <br>

			</div>

			<div sec:authorize="hasAuthority('ADMIN')">

				<a th:href="@{/admin/showtime-create(cinemaId=${cinema.id})}" class="btn btn-success">Add showtimes</a> <a th:href="@{/admin/auditorium-create(cinemaId=${cinema.id})}"
					class="btn btn-primary">Add auditorium</a> <a th:href="@{/admin/cinema-delete(cinemaId=${cinema.id})}" class="btn btn-danger">Delete</a> <a
					th:href="@{/admin/cinema-update(cinemaId=${cinema.id})}" class="btn btn-danger">Update</a>

			</div>
		</tr>


		<br>

		<footer th:replace="layout :: site-footer" /></footer>
</body>
</html>