<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<body>
<header th:replace="layout :: site-header" />

<div class="container">

<tr th:each="cinema : ${cinemas}">
<div style="background-color: lightgrey;">

    <a th:href="${'/cinemas/' + cinema.id}"><h2><td th:text="${cinema.name}"></td></h2></a>
    <p><td th:text="${cinema.address}"></td></p>
    </div>
    
</tr>
</div>
<br>	
	
	
<footer th:replace="layout :: site-footer"/>
</body>
</html>