
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<body>
	<header th:replace="layout :: site-header" />

	create a cinema here!
	
	<h1>Form</h1>
    <form action="#" th:action="@{/cinemas/cinema-create/cinemaCreateProccess}" th:object="cinema"
		method="post">
    	<p>Id: <input type="text" th:field="*{id}" />
		</p>
        <p>Message: <input type="text" th:field="*{content}" />
		</p>
        <p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
    </form>
	
	
		<footer th:replace="layout :: site-footer" />
</body>
</html>
