<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="navbar"/>

<div class="container">
<h2 th:text='${title}'/>

<img href="">
<p th:text="'Plot: ' + ${plot} "/>
<p th:text="'Age limit: ' + ${ageLimit} " />
<p th:each="genre : ${genres}"
       th:text="${genre}">Genre</p>
<p th:text="'Language: ' + ${lang} "/>
<p th:text="'Subtitles: ' + ${subs} "/>
<p th:text="'Length ' + ${length} "/>

<p>Plot: </p>

<input type="button">

</div>







<script>
$( "#navbar" ).load( "tmpl/navigation-template.html" );
</script>
</body>
</html>