<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<body>

	<header th:replace="layout :: site-header" /></header>

	<div class="container">
		<h2 th:text='${movie.title}' />

		<img href="">
		<p th:text="'Plot: ' + ${movie.plot} " />
		<p th:text="'Age limit: ' + ${movie.ageLimit} " />
		<p th:text="'Language: ' + ${movie.language} " />
		<p th:text="'Subtitles: ' + ${movie.subtitles} " />
		<p th:text="'Length ' + ${movie.movieLengthMinutes} " />

</div>

	<tr th:each="showtime : ${showtimes}">
			<div style="background-color: lightgrey;">

				<td th:text="${showtime.dateAndTime}"></td> <br>
				<td th:text="${showtime.takenSeats}"></td> <br>
				<!--  <td th:text="${showtime.ageLimit}"></td> <br>
				<td th:text="${movie.language}"></td> <br>
				<td th:text="${movie.subtitles}"></td> <br>
				<td th:text="${movie.movieLengthMinutes}"></td> <br>-->
			</div>

		</tr>
		
		<a th:href="@{/movies/{movieId}/chooseCinema (movieId=${movie.id})}" class="btn btn-info">choose cinema</a>


	<footer th:replace="layout :: site-footer" /></footer>

</body>
</html>